[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyMethyl"]
	path = shinyMethyl
	url = https://github.com/jfortin1/shinymethyl
